<p id="notice"><%= notice %></p>

<h1>All Comments</h1>

  <div class="row">
    <% @comments.each do |comment| %>
      <div class="col-md-4">
        <div class="well">
          <p><%= comment.content %></p>
          <p><%= comment.author %></p>
          <%= link_to 'Show', comment, class: "btn btn-info" %>
          <%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-warning" %>
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
<br>

<%= link_to 'New Comment', new_comment_path, class: "btn btn-info" %>
