<p id="notice"><%= notice %></p>

<h1>All Reddit Posts</h1>

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="well">
          <h4><%= post.name %></h4>
          <p><%= post.author %></p>
          <p><%= post.content %></p>
          <%= link_to 'Show', post, class: "btn btn-info" %>
          <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>


<br>

<%= link_to 'New Post', new_post_path, class: "btn btn-info" %>
